:root {
  --primary-color: #0b0b0b;
  --secondary-color: #fff;
}
html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
}
